.App {
  background-color: #607A8D;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif !important;
  color: #607A8D !important;
}

.Outlet{
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
